.gradle
bin
build/
!gradle/wrapper/gradle-wrapper.jar
.kotlin

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

# Cruft
*.hprof
.DS_Store
.vscode
epub
book.epub

# deploy secrets and local configuration
secring.gpg
local.properties
localRepo
.ipynb_checkpoints
.direnv
flake.nix
flake.lock
.envrc
.env
