## simple docker compose to play with Elasticsearch & Kibana locally
## disables all security, not recommended for production usage except in protected network

services:
  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.0
    environment:
      discovery.type: "single-node"
      xpack.security.enabled: "false"
      xpack.security.enrollment.enabled: "false"
      xpack.security.http.ssl.enabled: "false"
      xpack.security.transport.ssl.enabled: "false"
      ES_JAVA_OPTS: "-Xms1024m -Xmx1024m"
    ports:
      - "9200:9200"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - data:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.0
    environment:
      ELASTICSEARCH_HOSTS: "http://es:9200"
      XPACK_SECURITY_ENABLED: "false"
      SERVER_NAME: "localhost"
      SERVER_PUBLICBASEURL: "http://localhost:5601"
      XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY: "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
    ports:
      - "5601:5601"

volumes:
  data:
    driver: local
