name: CI-gradle-build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the code
      uses: actions/checkout@master
    - name: Setup Java
      uses: actions/setup-java@v1
      with:
        java-version: '17'
    - name: Cache build .gradle dir
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle
          .gradle
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/build.gradle.kts') }}
    - name: Compose up
      run: ./gradlew :search-client:composeUp
    - name: Gradle Build
      run: ./gradlew build
    - name: Compose down
      run: ./gradlew :search-client:composeDown
    - name: Deploy Manual
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs/build/manual
        destination_dir: kt-search
  matrix-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["es-7","es-8","os-1"]
    steps:
      - name: Checkout the code
        uses: actions/checkout@master
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: '17'
      - name: Cache build .gradle dir
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle
            .gradle
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/build.gradle.kts') }}
      - name: Compose up
        run: ./gradlew :search-client:composeUp -PsearchEngine=${{ matrix.version }}
      - name: Gradle Build
        run: ./gradlew :search-client:check -PsearchEngine=${{ matrix.version }}
      - name: Compose down
        run: ./gradlew :search-client:composeDown -PsearchEngine=${{ matrix.version }}


